In [1]:
import pandas as pd

## First Dataset for EVs
This dataset shows the make, model year, EV type, range, and retail price

In [17]:
# Showing columns 5-8 & 10-11
ev_df = pd.read_csv("Data/ev_pop.csv")[["Model Year", "Make", "Electric Vehicle Type", "Electric Range", "Base MSRP"]]
ev_df.head(90)

,Model Year,Make,Electric Vehicle Type,Electric Range,Base MSRP
0,2019,Audi,Battery Electric Vehicle (BEV),204,74800.0
1,2017,Nissan,Battery Electric Vehicle (BEV),107,30680.0
2,2016,Nissan,Battery Electric Vehicle (BEV),84,29010.0
3,2018,BMW,Battery Electric Vehicle (BEV),114,44450.0
4,2016,Nissan,Battery Electric Vehicle (BEV),84,29010.0
...,...,...,...,...,...
85,2013,Nissan,Battery Electric Vehicle (BEV),75,28800.0
86,2015,Nissan,Battery Electric Vehicle (BEV),84,29010.0
87,2019,Chevrolet,Plug-in Hybrid Electric Vehicle (PHEV),53,33520.0
88,2013,Nissan,Battery Electric Vehicle (BEV),75,28800.0
89,2018,Tesla,Battery Electric Vehicle (BEV),215,36000.0

In [55]:
# Dropping all rows that are plug-in hybrids
def no_plug_ins(df):
    plug_ins = df.loc[df["Electric Vehicle Type"] == "Plug-in Hybrid Electric Vehicle (PHEV)"].index
    [plug_ins.astype(int) for x in plug_ins]
    df.drop(index=plug_ins, inplace=True)
    
no_plug_ins(ev_df)

In [56]:
ev_df.head(90)

,Model Year,Make,Electric Vehicle Type,Electric Range,Base MSRP
0,2019,Audi,Battery Electric Vehicle (BEV),204,74800.0
1,2017,Nissan,Battery Electric Vehicle (BEV),107,30680.0
2,2016,Nissan,Battery Electric Vehicle (BEV),84,29010.0
3,2018,BMW,Battery Electric Vehicle (BEV),114,44450.0
4,2016,Nissan,Battery Electric Vehicle (BEV),84,29010.0
...,...,...,...,...,...
116,2016,Tesla,Battery Electric Vehicle (BEV),200,74000.0
117,2018,Chevrolet,Battery Electric Vehicle (BEV),238,37495.0
118,2012,Nissan,Battery Electric Vehicle (BEV),73,35200.0
119,2017,Chevrolet,Battery Electric Vehicle (BEV),238,37495.0
120,2015,Tesla,Battery Electric Vehicle (BEV),208,69900.0

## Second Dataset for EVs
Shows the manufacturer, model, model year, Fuel, and category

In [35]:
ev_df2 = pd.read_csv("Data/vehicles.csv")[["Model", "Model Year", "Manufacturer", "Fuel", "Category"]]
ev_df2.head(90)

                  Model Model Year       Manufacturer      Fuel     Category
0                i3 BEV       2017                BMW  Electric  Sedan/Wagon
1                i3 BEV       2017                BMW  Electric  Sedan/Wagon
2                  Bolt       2017          Chevrolet  Electric  Sedan/Wagon
3                  500e       2017               Fiat  Electric  Sedan/Wagon
4                 Ioniq       2017            Hyundai  Electric  Sedan/Wagon
..                  ...        ...                ...       ...          ...
85             EV1-NiMH       2001  General Motors EV  Electric  Sedan/Wagon
86             Altra EV       2001             Nissan  Electric  Sedan/Wagon
87  Hypermini (CA only)       2001             Nissan  Electric  Sedan/Wagon
88              Citivan       2001          Solectria  Electric          Van
89                Flash       2001          Solectria  Electric        Truck

[90 rows x 5 columns]

In [82]:
ev_df2.loc[ev_df2.Manufacturer == "Tesla"]

               Model Model Year Manufacturer      Fuel     Category
7            Model S       2017        Tesla  Electric  Sedan/Wagon
17           Model S       2016        Tesla  Electric  Sedan/Wagon
18       Model S AWD       2016        Tesla  Electric  Sedan/Wagon
19   Model X AWD 90D       2016        Tesla  Electric          SUV
20  Model X AWD P90D       2016        Tesla  Electric          SUV
31           Model S       2015        Tesla  Electric  Sedan/Wagon
44           Model S       2014        Tesla  Electric  Sedan/Wagon
54           Model S       2013        Tesla  Electric  Sedan/Wagon